body {  /* Some styling making the from look a little more modern  */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(to right, #e0e8e1, #fad0c4);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background: linear-gradient(to right, #c6b4b4, #d7dbe3);
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(189, 168, 168, 0.1);
  width: 300px;
}
